<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BackboneJS</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<p>Hello World!</p>

	<script type="text/template" id="person-id">

		<strong><%= name %></strong> ( <%= age %> )

	</script>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/underscore.js"></script>
	<script type-"text/javascript" src="js/backbone.js"></script>
	<script src="js/main.js"></script>
</body>
</html>